:root{
    --mainColor: rgba(4, 82, 170, 1);
    --secondColor: rgb(144, 174, 207);

}

.blog_field_label{
    padding: 4px;
}

.navbar{
    background-color: rgba(4, 82, 170, 1);
    border-radius: 55px 12px 55px 12px;
    position: relative;
}
.nav-link{
    color:rgb(144, 174, 207)  !important;
    font-weight: bold;
    padding: 3px;
    font-family: Helvetica, sans-serif;
    text-align: center;

}
.nav-link:hover{
    box-shadow: 0 0 10px silver;
    border-radius: 3px;
}

/* jumbotron */
.page_jumbo{
    background-color: rgba(26, 89, 161, 0.2)  !important;
}



/* filter */

.hide_box{
    display: none;
}

.blur{
filter: blur(14px);
}

#filter_box{
    background-color: var(--mainColor);
    border-radius: 13px;
    z-index: 99999;
    position: absolute;
    justify-content: center;
    padding: .6rem;
    transition: all .6s ease-in-out;
    margin:auto;
}

.filter_parent{
    background-color:#FFF;
    text-align: left;
    border-radius: 12px;
    margin:1.2rem;

}
.text{
    margin-left: 2rem;
}
.filter_choice{
margin-left: .6rem !important;

padding:.4rem
}
.form-check{
        text-align: justify;
    width:100%;
    padding: 1rem !important;
    margin: 1rem;
    color:var(--mainColor);
    font-weight: bold;
}
#filter_data{
    margin:0
}


/* card */
.card{
    background-color: rgba(26, 89, 130, 0.1)  !important;
    transition: box-shadow .8s ease-in-out;

}
.card:hover{
    box-shadow: 0 0 15px silver;
}
.blog_title{
    color:#FFF !important;
    background-color: rgba(4, 82, 170, 2) !important;
    border-radius: 15px !important;

}
.blog_likes{
    transition: all .7s ease-in-out;
    font-weight: bold;
}
.blog_header{
    color:gray;
    font-family:  Helvetica, sans-serif;
}
.blog_category{
    color:gray;
    font-weight: bold !important;
}
.blog_date{
    color:#000;
    font-weight: bold;
    font-size: .7rem;
    padding-left: 3px;
}

.blog_title{

}

/* buttons */
.btn_hover:hover{
    transition: all .5s ease-in-out;
box-shadow:  0 0 0 8px silver;
}

.btn_form{
    color:#fff !important;
    font-weight:600 !important;
    letter-spacing: 2px;
}

.btn_form_clear{
    background-color: var(--secondColor) !important;
    color:#fff !important;
    font-weight:600 !important;
    width: 112px;
}



/*  */
#create_blog{
    background-color:  var(--mainColor) ;
}

#blog_c_form{
    background-color: rgba(26, 89, 130, 0.1) !important;
}


/*details page*/
.blog_detail_title{
    color:gray;
    text-align: center;
    
}
.blog_detail_content{
    font-family:  Helvetica, sans-serif;
    word-spacing: 5px;
}

.blog_detail_date{
    line-height:60px;
    margin:0;
    padding-left: 1rem;
}


/* footer */
#site_footer{
    height:120px;
    margin: 3rem auto .6rem auto;
    background-color: var(--secondColor);
    border-radius: 6px;
}



/*error page */
#error_page{
    height:70vh;
}
.error_wrapper{
    position: relative;
    top:40%;
    width: 70%;
    text-align: center;

    margin: auto;
    height: 100%;
}
.error_wrapper label{
    
    font-size: 2rem;
    font-weight:bolder;
}

.error_cont{
font-weight: bolder;
font-size: 1.6rem;
    color: #FFF;
}

.icon{
    font-size: 120px;
}
.icon i{
}
.error_box{
    padding: 1rem;
    border-radius: 15px;
    background-color:var(--mainColor);
    text-align: center;
    animation: move_error 4s infinite  ease-in-out;
    transition: all .6s ease-in-out;
    box-shadow: 0 0 25px silver;
}
@keyframes move_error {
to{
   transform: scale(1);
   transition: all .6s ease-in-out;

    }

    from{
        transition: all .6s ease-in-out;

    transform: scale(0);
    }
    
}