<%- include("partials/header")  %>
<style>
  .navbar{
    display: none;
  }
</style>
<div id="error_page">
<div class="error_wrapper">
  <label>Error: 404</label>
  <div class="error_box">
    <div class="error_cont">
      <label>Oops, some error occured. Please try refreshing the page !!!</label>
      <h3 class="icon"><i class="fa fa-frown-o" aria-hidden="true"></i>
      </h3>
    </div>
  </div>
</div>
</div>